*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #F2F2F2;
    font-family: 'Domine', serif;
}

p
{
    margin-top: 1em;
}

#wrapper
{
    width: 70%;
    background-color: #FFF;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 2px solid #000;
    box-shadow: 0 0 0.7em #000;
}

h1
{
    font-size: 4em;
    color: #000;
}

#mainMenu
{
    display: inline-block;
    list-style-type: none;
    text-align: left;
    margin-top: 4em;
}

#mainMenu li
{
    float: left;
    margin-left: 1.5em;
}

#mainMenu li a
{
    text-decoration: none;
    color: #000;
}

#mainMenu li a:hover
{
    color: #737575;
}

.pageHeader {
    text-align: center;
    padding-top: 2em;
    background-image: url("../images/topcat.jpg");
    background-size: 12em 10em;
    background-repeat: no-repeat;
}

.pageFormat
{
    margin-right: 2em;
    margin-left: 2em;
}

.pageFormat h2
{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.pageFormat li
{
    margin-left: 2em;
}

.catImage
{
    margin-top: 2em;
    display: inline-block;
}

.imageDiv
{
    text-align: center;
}

.sourceLink
{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    font-style: italic;
    font-size: 0.7em;
}

.sourceLink a
{
    color: #000;
    text-decoration: none;
}

.sourceLink a:hover
{
    color: #737575;
}

.footer
{
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 3em;
}

.footer a
{
    color: #000;
    text-decoration: none;
}

.footer a:hover
{
    color: #737575;
}
